#contacts_list {
  .item {
    padding: .6rem 1.1rem;
  }

  .header {
    font-size: 1.2rem;
  }

  .description {
    font-size: .9rem;
    color: lighten(black, 54%);
    font-style: italic;
    margin-top: .3rem;
  }

  .button {
    margin-top: .7rem;
  }

  img.avatar {
    border: 2px solid darken(white, 6%);
    width: 3.6rem;
    height: 3.6rem;
  }
}

#contacts_thumbnail_list {
  &>.column {
    text-align: center;
  }

  img.circular {
    width: 4rem;
    height: 4rem;
    max-height: 4rem;
    border: 2px solid darken(white, 6%);
  }

  .label {
    color: black;
  }
}


#contact_detail {
  .cover-image {
    position: relative;
  }

  .bg-img {
    height: 15rem;
    background-image: url('http://placehold.it/800x600');
    background-position: center center;
  }

  .user-name {
    position: absolute;
    font-size: 1.6rem;
    left: 1em;
    bottom: 1em;
    color: white;
  }
}