body {
  background-color: white;
  font-size: 16px;
}

.main-content {
  min-height: 100%;
  position: relative;
  z-index: 1;

  &.with-sticky-footer {
    $sticky-footer-height: 36px;

    margin-bottom: -$sticky-footer-height;

    &::after {
      content: '...';
      display: block;
      height: $sticky-footer-height;
      visibility: hidden;
    }
  }
}