$sticky-footer-height: 2.8rem;

.sticky-footer {
  height: $sticky-footer-height;
  text-align: center;
  line-height: $sticky-footer-height;
  display: block;
  position: relative;
  z-index: 2;
  color: white;

  a {
    color: white;
    margin: .3rem 1em;
    margin-top: 0;
    background-color: #3C3E49;
    display: block;
    line-height: 2.5rem;
  }
}

.pusher.dimmed ~ .sticky-footer {
  visibility: hidden;
}