$sticky-footer-height: 36px;

.sticky-footer {
  height: $sticky-footer-height;
  text-align: center;
  line-height: $sticky-footer-height;
  display: block;
  position: relative;
  z-index: 2;
}

.pusher.dimmed ~ .sticky-footer {
  visibility: hidden;
}