$sticky-height: 2.7rem;

.sticky-header {
  position: fixed;
  background-color: white;
  height: $sticky-height;
  width: 100%;
  left: 0;
  z-index: 10;
  outline: 1px solid #E0E0E0;
  box-shadow: 0 0 4px 0 #E0E0E0;
  text-align: center;
  font-size: 1.2rem;

  &> * {
    line-height: $sticky-height;
  }

  .left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1em;
    padding-right: .5rem;
  }

  .right-side {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1em;
    padding-left: .5rem;
  }

  .title {
    font-weight: bold;
    letter-spacing: 1px;
  }

  .query-container {
    display: none;

    .query-input {
      padding: .4rem 1rem;
    }
  }

  i.fa {
    color: #95885D;
    cursor: pointer;
  }

  &.query-view {
    display: table;

    &>* {
      display: table-cell;
    }

    .center-box {
      display: none;
    }

    .left-side, .right-side {
      position: relative;
      width: 1%;
      white-space: nowrap;
    }

    .query-container {
      display: table-cell;
      width: 100%;
    }
  }

  &.query-user {
    .right-side, .center-box {
      display: none;
    }

    .query-container {
      display: block;
    }

    .ui.search {
      padding: 0 1em;
    }

    .ui.icon.input {
      display: block;
    }
  }
}

.sticky-header ~ .main-content {
  padding-top: $sticky-height;
}

#organization_list.ui.top.sidebar, #view_toggler.ui.top.sidebar {
  padding-top: $sticky-height;
  z-index: 9;
  background-color: white;
}